[common]
enable =
send_duration = 10
addr = wss://api.locyanfrp.cn/frp/ws
node_id =
node_api_key =

[frps]
username =
password =
admin_api_host =
admin_api_port =

[opengfw]
enable =

[monitor]
name =
enable =
addr = wss://status.api.locyanfrp.cn/monitor
network_device = eth0
auth_secret =